/* CSS files add styling rules to your content */

body {
  font-family: Helvetica Light, Helveticaneue Light, Calibri Light,  Helveticaneue, Helvetica, Gill Sans, Myriad Pro, Arial, Lucida Grande, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
